body{
    margin: 0;
    background-color: white;

}
main{
    width: 100%;
    height: 600px;
    background-image: url("body_bg.png");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    
}
#img1{
    position: absolute;
    right: 100px;
    top: 80px;
}
pre{
    color: white;
    position: absolute;
    top: 30px;
    left: 130px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#p1{
    color: white;
    position: absolute;
    top: 330px;
    width:800px;
    left: 100px;
    font-size: 20px;
    bottom: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: white;
    font-size: 80px;
    top: 60px;
    left: 100px;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#buttom1{
    position: absolute;
    bottom: 50px;
    left: 100px;
    height: 70px;
    width: 280px;
    background-color: orangered;
    color: white;
    font-size: 20px;
    border-radius: 40px;
    transition-duration: 2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#buttom1:hover{
    background-color: black;
}
div{
    height: 1100px;
    width: 100%;
    background-color:white;
  
}
#img2{
    position: absolute;
    top: 700px;
    right: 100px;
}
#p2{
    position: absolute;
    top: 800px;
    left: 80px;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    position: absolute;
    top: 700px;
    left: 80px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#button2{
    position: absolute;
    top: 1030px;
    left: 80px;
    height: 50px;
    width: 180px;
    background-color: orangered;
    color: white;
    font-size: 20px;
    border-radius: 40px;
    transition-duration: 2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#button2:hover{
    background-color: black;
}
#img3{
    position: absolute;
    top: 620px;
    left: 30px;
}
#div1{
    height: 2800px;
    width: 100%;
    background-image:url("body_bg.png");
    

}
h3{
    font-size: 60px;
    text-align: center;
    color: white;
    position: relative;
    top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#p3{
    font-size: 20px;
    text-align: center;
    color: white;
    width: 95%;
    position: relative;
    top: 65px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#img4{
    position: relative;
    top: 80px;
    left: 100px;
    background-color: white;
    height: 250px;
    width: 250px;
    border-radius: 100%;
}
#img5{
    position: relative;
    top: 80px;
    left: 150px;
    background-color: white;
    height: 250px;
    width: 250px;
    border-radius: 100%;
}
#img6{
    position: relative;
    top: 80px;
    left: 200px;
    background-color: white;
    height: 250px;
    width: 250px;
    border-radius: 100%;
}
#img7{
    position: relative;
    top: 80px;
    left: 250px;
    background-color: white;
    height: 250px;
    width: 250px;
    border-radius: 100%;
}
#img8{
    position: relative;
    top: 80px;
    left: 100px;
    background-color: white;
    height: 250px;
    width: 250px;
    border-radius: 100%;
}
#img9{
    position: relative;
    top: 80px;
    left: 150px;
    background-color: white;
    height: 250px;
    width: 250px;
    border-radius: 100%;
}
#img10{
    position: relative;
    top: 80px;
    left: 200px;
    background-color: white;
    height: 250px;
    width: 250px;
    border-radius: 100%;
}
#img11{
    position: relative;
    top: 80px;
    left: 250px;
    background-color: white;
    height: 250px;
    width: 250px;
    border-radius: 100%;
}
#button3{
    position: relative;
    top: 200px;
    right: 440px;
    height: 50px;
    width: 180px;
    background-color: orangered;
    color: white;
    font-size: 20px;
    border-radius: 40px;
    transition-duration: 2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#button3:hover{
    background-color:black;
}
h4{
    font-size: 60px;
    text-align: center;
    color: white;
    position: relative;
    top: 200px;
    right: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* form {
    display: flex;
    flex-direction: column;
  } */
  
  input,textarea {
    margin: 10px 0;
    padding:30px 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    top: 130px;
    left: 130px;
    background-image: url("body_bg.png");
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
#button00{
    position: relative;
    top: 150px;
    left: 550px;
    height: 50px;
    width: 200px;
    background-color: orangered;
    color: white;
    font-size: 20px;
    border-radius: 40px;
    transition-duration: 2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#button00:hover{
    background-color: black;
}
#img12{
    position: relative;
    top: 250px;
left: 350px;
}
footer{
    color: white;
    margin-top:600px ;
    margin-left: 50%;
  
}
#div55{
    height: 200px;
    width: 230px;
    background-image:url("body_bg.png");
    background-repeat: no-repeat;
    background-size:300px 200px;
    position: relative;
    top: 300px;
    left: 100px;
}
#p4{
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#p5{
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#div11{
    height: 200px;
    width: 300px;
    background-image:url("body_bg.png");
    background-repeat: no-repeat;
    background-size:300px 200px;
    position: relative;
    top: 55px;
    left: 420px;
}
#p7{
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#p6{
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#div22{
    height: 200px;
    width: 100px;
    background-image:url("body_bg.png");
    background-repeat: no-repeat;
    background-size:300px 200px;
    position: relative;
    bottom: 190px;
    left: 770px;
}
#p9{
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#p8{
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#div88{
    height: 400px;
    width: 400px;
    background-image:url("body_bg.png");
    background-repeat: no-repeat;
    background-size:400px 400px;
    position: relative;
    bottom: 450px;
    left: 1000px;
    
}
#inp{
    margin: 10px 0;
    padding:20px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    top: 0px;
    left: 10px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h6{
    font-size: 30px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}